body {
    margin: 0;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
    font-size: 18px;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 0 100px 100px 100px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}

.opener {
    display: flex;
    justify-content: space-between;
}

.hero-text {
    width: 600px;
}

.emphasize-text {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.image-placeholder {
    text-align: center;
    background: blue;
    width: 400px;
    height: 200px;
}

.sign-up, .sign-up-2 {
    color: white;
    width: 100px;
    height: 40px;
    padding: 10px 20px;
    border-radius: 12px;
}

.sign-up {
    background-color: blue;
    color: white;
    border: none;
}

.sign-up-2 {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 12px;
}

.information {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.information-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-box {
    width: 200px;
    text-align: center;
}

.image-box {
    height: 200px;
    border: 2px solid blue;
    border-radius: 16px;
    flex-shrink: 0;
}

.quote-box {
    display: flex;
    background-color: #E5E7EB;
    width: 100%;
}

.quote-text {
    margin: 100px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    margin: 0;
}

.quote-author {
    display: flex;
    flex-direction: row-reverse;
}

.call-to-action {
    background-color: #3882F6;
    color: white;
    margin: 100px; 
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
}

.action-text {
    font-size: 24px;
    font-weight: 900;
}

.action-subtext {
    font-size: 18px;
}

.copyright {
    background-color: #1F2937;
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
